h2 {
  font-size: 4rem; }

.bold {
  font-weight: 700; }

.menu {
  max-width: 20rem;
  margin: 0rem 0 0 0rem; }
  .menu li {
    margin-bottom: 2rem; }
    .menu li h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: .4rem; }
    .menu li p {
      line-height: 1.4rem; }

html {
  font-family: 'Overpass Mono', monospace; }

a {
  color: #c24a6c; }

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5vh 95vh;
  grid-template-areas: "navigation navigation navigation"  "stage stage stage"; }

nav {
  grid-area: navigation;
  font-size: .8rem;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1; }
  nav ul {
    width: 80%;
    margin: 0 auto;
    height: 5vh;
    display: flex;
    align-items: center; }
    nav ul li {
      flex-grow: 1;
      text-align: center; }

.stage {
  grid-area: stage; }
  .stage .wrapper {
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: 95vh; }
    .stage .wrapper .logo-container {
      width: 50%;
      background: url(../assets/zweierlei-restaurant-duesseldorf-logo-complete.svg) center no-repeat;
      background-size: contain;
      align-self: center;
      height: 30rem; }
    .stage .wrapper .text-start {
      align-self: center;
      width: 50%; }
      .stage .wrapper .text-start h3 {
        padding-top: 1rem;
        padding-left: .5rem; }
    .stage .wrapper .img-container {
      height: 70%;
      width: 100%;
      margin-top: 4rem;
      grid-area: portrait-img; }
      .stage .wrapper .img-container .img-about {
        height: 50%;
        width: 50%;
        background: url(../assets/benni-und-hagen-restaurant-zweierlei-duesseldorf.jpg) center no-repeat;
        background-size: cover;
        height: 30rem;
        box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.5);
        margin-left: auto; }
      .stage .wrapper .img-container .frame {
        margin: -5rem auto 0 auto;
        display: flex;
        max-width: 12rem; }
        .stage .wrapper .img-container .frame p {
          align-self: end;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.7rem; }
    .stage .wrapper .text-zwei {
      grid-area: about;
      font-size: 1.2rem;
      line-height: 1.7rem; }
    .stage .wrapper .signatures {
      grid-area: signatures;
      display: grid; }
      .stage .wrapper .signatures .signature {
        height: 6rem; }
      .stage .wrapper .signatures .benni {
        background: url(../assets/benni-signature-pink.svg) center no-repeat;
        background-size: contain;
        align-self: flex-end; }
      .stage .wrapper .signatures .hagen {
        background: url(../assets/hagen-signature-blue.svg) center no-repeat;
        background-size: contain;
        align-self: flex-start; }

#zwei {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 10rem;
  grid-template-areas: "portrait-img portrait-img" "about signatures" "nothing nothing"; }

#menu-deutschland, #menu-europa {
  background-color: #fef7ee;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu-img menu-text"; }
  #menu-deutschland .img-container, #menu-europa .img-container {
    grid-area: menu-img; }
    #menu-deutschland .img-container .frame, #menu-europa .img-container .frame {
      margin: 0 auto 0 auto;
      display: flex;
      max-width: 12rem;
      height: 18rem; }
      #menu-deutschland .img-container .frame p, #menu-europa .img-container .frame p {
        align-self: start;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.7rem; }
    #menu-deutschland .img-container .img-pear, #menu-europa .img-container .img-pear {
      margin: -8rem 0 0 0;
      background: url(../assets/birne.png) center no-repeat;
      background-size: contain;
      background-blend-mode: multiply;
      background-color: transparent;
      height: 18rem; }
  #menu-deutschland .menu, #menu-europa .menu {
    grid-area: menu-text;
    padding-top: 15rem; }

#menu-europa {
  background-color: #dbf0fa;
  grid-template-areas: "menu-text menu-img"; }
  #menu-europa .img-container {
    grid-area: menu-img; }
    #menu-europa .img-container .frame {
      margin: 0 auto 0 auto;
      display: flex;
      max-width: 12rem;
      height: 18rem; }
      #menu-europa .img-container .frame p {
        align-self: start;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.7rem; }
    #menu-europa .img-container .img-pear {
      margin: -8rem 0 0 0;
      background: url(../assets/birne.png) center no-repeat;
      background-size: contain;
      background-blend-mode: multiply;
      background-color: transparent;
      height: 18rem; }
  #menu-europa .menu {
    grid-area: menu-text;
    padding-top: 15rem; }

.color-wrap {
  width: 100%;
  height: auto; }

#beige {
  background-color: #fef7ee; }

#blue {
  background-color: #dbf0fa; }

.space {
  grid-area: nothing; }

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: darkgrey;
  overflow: hidden; }
  .slider .menu-one {
    display: flex;
    background-color: #fff7ee;
    width: 70%;
    transition: width 1s ease; }
  .slider .menu-two {
    display: flex;
    background-color: #beefe4;
    width: 15%;
    transition: width 1s ease; }
  .slider .menu-three {
    background-color: darkgrey;
    width: 15%;
    transition: width 1s ease; }
  .slider #menu-germany {
    opacity: 0;
    transition: all .2s ease-in; }
  .slider .menu {
    max-width: 20rem;
    margin: 10rem 0 0 7rem; }
    .slider .menu li {
      margin-bottom: 2rem; }
      .slider .menu li h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .4rem; }
      .slider .menu li p {
        line-height: 1.4rem; }

.product {
  position: relative;
  margin-top: 10rem;
  margin-left: 2rem;
  transition: margin-left .6s ease-in-out; }

.product-two {
  position: relative;
  margin-top: 10rem;
  margin-left: 2rem;
  transition: margin-left .6s ease-in-out; }

.blue {
  border: 5px solid #56cce2; }

.pink {
  border: 5px solid #c4486c; }

.frame {
  mix-blend-mode: multiply;
  height: 12rem;
  max-width: 8rem;
  padding: 1rem; }
  .frame p {
    line-height: 1.2rem;
    font-size: 1.1rem; }

.margin-left {
  margin-left: 10rem;
  transition: all .6s ease-in-out; }

.frame-img {
  opacity: .85;
  height: 15rem;
  position: absolute;
  transition: all .6s ease-in-out; }

#germany {
  background-image: url(../assets/birne.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;
  width: 10rem;
  top: 100; }

#europe {
  background-image: url(../assets/octopus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;
  width: 100%;
  top: 100; }

.grow-img {
  width: 14rem !important;
  height: 25rem;
  transition: all .6s ease-in-out; }

.fade-in {
  opacity: 1 !important;
  transition: all .2s ease-in .3s !important; }

/*# sourceMappingURL=app.css.map */
