html {
  font-family: 'Overpass Mono', monospace; }

a {
  color: #c24a6c; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85% 15%;
  grid-template-areas: "benni logo hagen"  "footer footer footer"; }
  @media screen and (max-width: 1023px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "benni" 'hagen' 'footer';
      height: auto; } }

.logo {
  background-image: url(../assets/zweierlei-restaurant-duesseldorf-logo-complete.svg);
  background-size: contain;
  background-repeat: no-repeat; }

.benni, .hagen {
  grid-area: benni;
  background-image: url(../assets/benni-signature.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 24rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 500px) {
    .benni, .hagen {
      height: 5rem; } }
  @media screen and (min-width: 501px) and (max-width: 1023px) {
    .benni, .hagen {
      height: 4rem; } }
  @media screen and (min-width: 700px) and (max-width: 1023px) {
    .benni, .hagen {
      height: 6rem; } }
  @media screen and (max-width: 1199px) {
    .benni, .hagen {
      height: 5rem; } }

.hagen {
  grid-area: hagen;
  background-image: url(../assets/hagen-signature.svg); }

main {
  display: grid; }
  main .logo-container {
    align-self: center;
    align-items: center; }
    @media screen and (max-width: 500px) {
      main .logo-container {
        height: 50vh;
        margin-bottom: 4rem;
        margin-top: 4rem; } }
    @media screen and (min-width: 501px) and (max-width: 1023px) {
      main .logo-container {
        height: 30vh;
        margin-bottom: 10rem;
        margin-top: 4rem; } }
    main .logo-container .logo {
      background-image: url(../assets/zweierlei-restaurant-duesseldorf-logo-complete.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      align-self: center;
      height: 30rem; }
      @media screen and (max-width: 500px) {
        main .logo-container .logo {
          height: 20rem; } }
      @media screen and (min-width: 501px) and (max-width: 1023px) {
        main .logo-container .logo {
          height: 15rem; } }
      @media screen and (min-width: 700px) {
        main .logo-container .logo {
          height: 25rem; } }

footer {
  grid-area: footer;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  font-family: 'Overpass Mono', monospace; }
  @media screen and (max-width: 500px) {
    footer {
      margin-top: 4rem;
      font-size: 1rem; } }
  @media screen and (min-width: 501px) and (max-width: 1023px) {
    footer {
      font-size: 1rem;
      margin-top: 3rem; } }

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: darkgrey; }
  .slider .menu-one {
    display: flex;
    background-color: #fff7ee;
    width: 70%;
    transition: width 1s ease; }
  .slider .menu-two {
    display: flex;
    background-color: #beefe4;
    width: 15%;
    transition: width 1s ease; }
    .slider .menu-two .menu {
      display: none; }
  .slider .menu-three {
    background-color: darkgrey;
    width: 15%;
    transition: width 1s ease; }
  .slider .menu {
    max-width: 20rem;
    margin: 10rem 0 0 7rem; }
    .slider .menu li {
      margin-bottom: 2rem; }
      .slider .menu li h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: .4rem; }
      .slider .menu li p {
        line-height: 1.4rem; }

.product {
  position: relative;
  margin-top: 10rem;
  margin-left: 2rem;
  transition: margin-left .6s ease-in-out; }

.product {
  position: relative;
  margin-top: 10rem;
  margin-left: 2rem;
  transition: margin-left .6s ease-in-out; }

.blue {
  border: 5px solid #56cce2; }

.pink {
  border: 5px solid #c4486c; }

.frame {
  mix-blend-mode: multiply;
  height: 12rem;
  max-width: 8rem;
  padding: 1rem; }
  .frame p {
    line-height: 1.2rem;
    font-size: 1.1rem; }

.margin-left {
  margin-left: 10rem;
  transition: all .6s ease-in-out; }

.frame-img {
  opacity: .85;
  height: 15rem;
  position: absolute;
  transition: all .6s ease-in-out; }

#germany {
  background-image: url(../assets/birne.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;
  width: 10rem;
  top: 100; }

#europe {
  background-image: url(../assets/octopus.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: transparent;
  width: 100%;
  top: 100; }

.grow-img {
  width: 14rem !important;
  height: 25rem;
  transition: all .6s ease-in-out; }

/*# sourceMappingURL=app.css.map */
