

h2 {
    font-size: 4rem;
}


.bold {
    font-weight: 700;
}




.menu {
    text-align: center;
    width: 70%;
    margin: 0rem auto 0 auto;

    li {
        margin-bottom: 2rem;

        h3 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .4rem;
        }

        p {
            font-size: .8rem;
            line-height: 1.4rem;
        }
    }
}