$logo-complete : url(../assets/zweierlei-restaurant-duesseldorf-logo-complete.svg);
$signature-benni : url(../assets/benni-signature.svg);
$signature-hagen : url(../assets/hagen-signature.svg);

$phone-portrait-break : 500px;
$phone-landscape-break : 501px;
$tablet-portrait-break : 768px;
$tablet-landscape-break : 1023px;
$small-screens : 1199px;



$beige : #fef7ee;
$blue : #dbf0fa;
$green : #beefe4;
$pink : #c24a6c;
